CLIENT_TRABAJOIT/web/WEB-INF/wsdl/localhost_8080/SERVER_TRABAJOIT/alquilerController.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controller/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controller/" name="alquilerController">
<types>
<xsd:schema>
<xsd:import namespace="http://controller/" schemaLocation="http://localhost:8080/SERVER_TRABAJOIT/alquilerController?xsd=1"/>
</xsd:schema>
</types>
<message name="listFacturasClient">
<part name="parameters" element="tns:listFacturasClient"/>
</message>
<message name="listFacturasClientResponse">
<part name="parameters" element="tns:listFacturasClientResponse"/>
</message>
<message name="listPayMethodsClient">
<part name="parameters" element="tns:listPayMethodsClient"/>
</message>
<message name="listPayMethodsClientResponse">
<part name="parameters" element="tns:listPayMethodsClientResponse"/>
</message>
<message name="listFacturas">
<part name="parameters" element="tns:listFacturas"/>
</message>
<message name="listFacturasResponse">
<part name="parameters" element="tns:listFacturasResponse"/>
</message>
<message name="createFactura">
<part name="parameters" element="tns:createFactura"/>
</message>
<message name="createFacturaResponse">
<part name="parameters" element="tns:createFacturaResponse"/>
</message>
<message name="removeFactura">
<part name="parameters" element="tns:removeFactura"/>
</message>
<message name="removeFacturaResponse">
<part name="parameters" element="tns:removeFacturaResponse"/>
</message>
<message name="createPayMethod">
<part name="parameters" element="tns:createPayMethod"/>
</message>
<message name="createPayMethodResponse">
<part name="parameters" element="tns:createPayMethodResponse"/>
</message>
<message name="removePayMethod">
<part name="parameters" element="tns:removePayMethod"/>
</message>
<message name="removePayMethodResponse">
<part name="parameters" element="tns:removePayMethodResponse"/>
</message>
<message name="updatePayMethod">
<part name="parameters" element="tns:updatePayMethod"/>
</message>
<message name="updatePayMethodResponse">
<part name="parameters" element="tns:updatePayMethodResponse"/>
</message>
<message name="listPayMethods">
<part name="parameters" element="tns:listPayMethods"/>
</message>
<message name="listPayMethodsResponse">
<part name="parameters" element="tns:listPayMethodsResponse"/>
</message>
<portType name="alquilerController">
<operation name="listFacturasClient">
<input wsam:Action="http://controller/alquilerController/listFacturasClientRequest" message="tns:listFacturasClient"/>
<output wsam:Action="http://controller/alquilerController/listFacturasClientResponse" message="tns:listFacturasClientResponse"/>
</operation>
<operation name="listPayMethodsClient">
<input wsam:Action="http://controller/alquilerController/listPayMethodsClientRequest" message="tns:listPayMethodsClient"/>
<output wsam:Action="http://controller/alquilerController/listPayMethodsClientResponse" message="tns:listPayMethodsClientResponse"/>
</operation>
<operation name="listFacturas">
<input wsam:Action="http://controller/alquilerController/listFacturasRequest" message="tns:listFacturas"/>
<output wsam:Action="http://controller/alquilerController/listFacturasResponse" message="tns:listFacturasResponse"/>
</operation>
<operation name="createFactura">
<input wsam:Action="http://controller/alquilerController/createFacturaRequest" message="tns:createFactura"/>
<output wsam:Action="http://controller/alquilerController/createFacturaResponse" message="tns:createFacturaResponse"/>
</operation>
<operation name="removeFactura">
<input wsam:Action="http://controller/alquilerController/removeFacturaRequest" message="tns:removeFactura"/>
<output wsam:Action="http://controller/alquilerController/removeFacturaResponse" message="tns:removeFacturaResponse"/>
</operation>
<operation name="createPayMethod">
<input wsam:Action="http://controller/alquilerController/createPayMethodRequest" message="tns:createPayMethod"/>
<output wsam:Action="http://controller/alquilerController/createPayMethodResponse" message="tns:createPayMethodResponse"/>
</operation>
<operation name="removePayMethod">
<input wsam:Action="http://controller/alquilerController/removePayMethodRequest" message="tns:removePayMethod"/>
<output wsam:Action="http://controller/alquilerController/removePayMethodResponse" message="tns:removePayMethodResponse"/>
</operation>
<operation name="updatePayMethod">
<input wsam:Action="http://controller/alquilerController/updatePayMethodRequest" message="tns:updatePayMethod"/>
<output wsam:Action="http://controller/alquilerController/updatePayMethodResponse" message="tns:updatePayMethodResponse"/>
</operation>
<operation name="listPayMethods">
<input wsam:Action="http://controller/alquilerController/listPayMethodsRequest" message="tns:listPayMethods"/>
<output wsam:Action="http://controller/alquilerController/listPayMethodsResponse" message="tns:listPayMethodsResponse"/>
</operation>
</portType>
<binding name="alquilerControllerPortBinding" type="tns:alquilerController">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listFacturasClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPayMethodsClient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listFacturas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeFactura">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPayMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePayMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePayMethod">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listPayMethods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="alquilerController">
<port name="alquilerControllerPort" binding="tns:alquilerControllerPortBinding">
<soap:address location="http://localhost:8080/SERVER_TRABAJOIT/alquilerController"/>
</port>
</service>
</definitions>